-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sipc5525_siperah
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kpi_errors`
--

DROP TABLE IF EXISTS `kpi_errors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_errors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `error_type` enum('salary_calc','data_entry','other') NOT NULL DEFAULT 'data_entry',
  `description` text DEFAULT NULL,
  `reported_by` bigint(20) unsigned DEFAULT NULL,
  `period` varchar(20) DEFAULT NULL,
  `resolved` tinyint(1) NOT NULL DEFAULT 0,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kpi_errors_reported_by_foreign` (`reported_by`),
  KEY `kpi_errors_period_error_type_index` (`period`,`error_type`),
  CONSTRAINT `kpi_errors_reported_by_foreign` FOREIGN KEY (`reported_by`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_errors`
--

LOCK TABLES `kpi_errors` WRITE;
/*!40000 ALTER TABLE `kpi_errors` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_errors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_profits`
--

DROP TABLE IF EXISTS `kpi_profits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_profits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `period` varchar(20) NOT NULL,
  `revenue_before` decimal(18,2) DEFAULT NULL,
  `revenue_after` decimal(18,2) DEFAULT NULL,
  `cost_before` decimal(18,2) DEFAULT NULL,
  `cost_after` decimal(18,2) DEFAULT NULL,
  `milk_volume_before` decimal(12,2) DEFAULT NULL,
  `milk_volume_after` decimal(12,2) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kpi_profits_period_unique` (`period`),
  KEY `kpi_profits_created_by_foreign` (`created_by`),
  CONSTRAINT `kpi_profits_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_profits`
--

LOCK TABLES `kpi_profits` WRITE;
/*!40000 ALTER TABLE `kpi_profits` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_profits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_sessions_kpi`
--

DROP TABLE IF EXISTS `user_sessions_kpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions_kpi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `login_at` timestamp NULL DEFAULT NULL,
  `logout_at` timestamp NULL DEFAULT NULL,
  `duration_seconds` int(10) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `session_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_sessions_kpi_user_id_login_at_index` (`user_id`,`login_at`),
  CONSTRAINT `user_sessions_kpi_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_sessions_kpi`
--

LOCK TABLES `user_sessions_kpi` WRITE;
/*!40000 ALTER TABLE `user_sessions_kpi` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_sessions_kpi` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-22 18:14:03
