-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sipc5525_siperah
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `action` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `reference_type` varchar(255) DEFAULT NULL,
  `reference_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_user_id_foreign` (`user_id`),
  CONSTRAINT `activity_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`iduser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bagi_hasil`
--

DROP TABLE IF EXISTS `bagi_hasil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bagi_hasil` (
  `idbagi_hasil` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `idproduksi` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `persentase_pemilik` decimal(5,2) DEFAULT 60.00,
  `persentase_pengelola` decimal(5,2) DEFAULT 40.00,
  `total_pendapatan` decimal(15,2) DEFAULT 0.00,
  `hasil_pemilik` decimal(15,2) GENERATED ALWAYS AS (`total_pendapatan` * `persentase_pemilik` / 100) STORED,
  `hasil_pengelola` decimal(15,2) GENERATED ALWAYS AS (`total_pendapatan` * `persentase_pengelola` / 100) STORED,
  `status` enum('pending','lunas','sebagian') DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idbagi_hasil`),
  UNIQUE KEY `idproduksi` (`idproduksi`),
  KEY `idx_idproduksi` (`idproduksi`),
  KEY `idx_tanggal` (`tanggal`),
  KEY `idx_status` (`status`),
  CONSTRAINT `bagi_hasil_ibfk_1` FOREIGN KEY (`idproduksi`) REFERENCES `produksi_harian` (`idproduksi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bagi_hasil`
--

LOCK TABLES `bagi_hasil` WRITE;
/*!40000 ALTER TABLE `bagi_hasil` DISABLE KEYS */;
/*!40000 ALTER TABLE `bagi_hasil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distribusi`
--

DROP TABLE IF EXISTS `distribusi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `distribusi` (
  `iddistribusi` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `idpeternak` bigint(20) unsigned NOT NULL,
  `tujuan` varchar(100) NOT NULL,
  `volume` decimal(10,2) NOT NULL,
  `harga_per_liter` decimal(15,2) NOT NULL,
  `tanggal_kirim` date NOT NULL,
  `total_penjualan` decimal(15,2) GENERATED ALWAYS AS (`volume` * `harga_per_liter`) STORED,
  `status` enum('pending','terkirim','diterima','ditolak') DEFAULT 'pending',
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`iddistribusi`),
  KEY `idx_idpeternak` (`idpeternak`),
  KEY `idx_tanggal_kirim` (`tanggal_kirim`),
  KEY `idx_status` (`status`),
  CONSTRAINT `distribusi_ibfk_1` FOREIGN KEY (`idpeternak`) REFERENCES `peternak` (`idpeternak`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distribusi`
--

LOCK TABLES `distribusi` WRITE;
/*!40000 ALTER TABLE `distribusi` DISABLE KEYS */;
/*!40000 ALTER TABLE `distribusi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `harga_susu_history`
--

DROP TABLE IF EXISTS `harga_susu_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `harga_susu_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `harga` decimal(15,2) NOT NULL,
  `tanggal_berlaku` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `harga_susu_history_tanggal_berlaku_index` (`tanggal_berlaku`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `harga_susu_history`
--

LOCK TABLES `harga_susu_history` WRITE;
/*!40000 ALTER TABLE `harga_susu_history` DISABLE KEYS */;
INSERT INTO `harga_susu_history` VALUES (2,7000.00,'2026-01-01','2026-01-28 16:50:42','2026-01-28 16:50:42');
/*!40000 ALTER TABLE `harga_susu_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kasbon`
--

DROP TABLE IF EXISTS `kasbon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kasbon` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `idpeternak` bigint(20) unsigned NOT NULL,
  `idslip` bigint(20) unsigned DEFAULT NULL,
  `idlogistik` bigint(20) unsigned DEFAULT NULL,
  `nama_item` varchar(255) NOT NULL,
  `qty` decimal(10,2) NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `total_rupiah` decimal(15,2) NOT NULL,
  `tanggal` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kasbon_idpeternak_foreign` (`idpeternak`),
  KEY `kasbon_idlogistik_foreign` (`idlogistik`),
  KEY `kasbon_tanggal_index` (`tanggal`),
  KEY `kasbon_idslip_foreign` (`idslip`),
  CONSTRAINT `kasbon_idlogistik_foreign` FOREIGN KEY (`idlogistik`) REFERENCES `katalog_logistik` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kasbon_idpeternak_foreign` FOREIGN KEY (`idpeternak`) REFERENCES `peternak` (`idpeternak`) ON DELETE CASCADE,
  CONSTRAINT `kasbon_idslip_foreign` FOREIGN KEY (`idslip`) REFERENCES `slip_pembayaran` (`idslip`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kasbon`
--

LOCK TABLES `kasbon` WRITE;
/*!40000 ALTER TABLE `kasbon` DISABLE KEYS */;
/*!40000 ALTER TABLE `kasbon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `katalog_logistik`
--

DROP TABLE IF EXISTS `katalog_logistik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `katalog_logistik` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(255) NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `katalog_logistik`
--

LOCK TABLES `katalog_logistik` WRITE;
/*!40000 ALTER TABLE `katalog_logistik` DISABLE KEYS */;
INSERT INTO `katalog_logistik` VALUES (2,'Karpet',475000.00,'2026-01-20 02:41:08','2026-02-09 14:22:00'),(3,'Pakan A',220000.00,'2026-01-20 02:41:23','2026-02-09 14:19:05'),(4,'Pakan B',200000.00,'2026-01-20 02:41:45','2026-02-09 14:19:28'),(5,'susu A',450000.00,'2026-02-09 14:21:41','2026-02-09 14:21:41'),(6,'vetamix',15000.00,'2026-02-09 14:23:23','2026-02-09 14:23:23'),(7,'S H R',50000.00,'2026-02-13 06:10:32','2026-02-13 13:51:20'),(8,'Hutang bulan lalu',1.00,'2026-02-20 21:56:50','2026-02-20 21:56:50');
/*!40000 ALTER TABLE `katalog_logistik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_errors`
--

DROP TABLE IF EXISTS `kpi_errors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_errors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `error_type` enum('salary_calc','data_entry','other') NOT NULL DEFAULT 'data_entry',
  `description` text DEFAULT NULL,
  `reported_by` bigint(20) unsigned DEFAULT NULL,
  `period` varchar(20) DEFAULT NULL,
  `resolved` tinyint(1) NOT NULL DEFAULT 0,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kpi_errors_reported_by_foreign` (`reported_by`),
  KEY `kpi_errors_period_error_type_index` (`period`,`error_type`),
  CONSTRAINT `kpi_errors_reported_by_foreign` FOREIGN KEY (`reported_by`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_errors`
--

LOCK TABLES `kpi_errors` WRITE;
/*!40000 ALTER TABLE `kpi_errors` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_errors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_profits`
--

DROP TABLE IF EXISTS `kpi_profits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_profits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `period` varchar(20) NOT NULL,
  `revenue_before` decimal(18,2) DEFAULT NULL,
  `revenue_after` decimal(18,2) DEFAULT NULL,
  `cost_before` decimal(18,2) DEFAULT NULL,
  `cost_after` decimal(18,2) DEFAULT NULL,
  `milk_volume_before` decimal(12,2) DEFAULT NULL,
  `milk_volume_after` decimal(12,2) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kpi_profits_period_unique` (`period`),
  KEY `kpi_profits_created_by_foreign` (`created_by`),
  CONSTRAINT `kpi_profits_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_profits`
--

LOCK TABLES `kpi_profits` WRITE;
/*!40000 ALTER TABLE `kpi_profits` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_profits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporan`
--

DROP TABLE IF EXISTS `laporan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laporan` (
  `idlaporan` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `iduser` bigint(20) unsigned NOT NULL,
  `periode` varchar(50) DEFAULT NULL,
  `jenis_laporan` enum('mingguan','bulanan','custom') DEFAULT 'bulanan',
  `file_path` varchar(255) DEFAULT NULL,
  `tanggal_generate` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idlaporan`),
  KEY `idx_iduser` (`iduser`),
  KEY `idx_jenis_laporan` (`jenis_laporan`),
  CONSTRAINT `laporan_ibfk_1` FOREIGN KEY (`iduser`) REFERENCES `users` (`iduser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan`
--

LOCK TABLES `laporan` WRITE;
/*!40000 ALTER TABLE `laporan` DISABLE KEYS */;
INSERT INTO `laporan` VALUES (1,1,'2025-12','bulanan','/storage/reports/admin_bulanan_202512.pdf','2025-12-25 13:00:46','2025-12-25 13:00:46','2025-12-25 13:00:46'),(2,1,'2025-11','bulanan','/storage/reports/admin_bulanan_202511.pdf','2025-11-25 13:00:46','2025-12-25 13:00:46','2025-12-25 13:00:46'),(3,2,'2025-12','bulanan','/storage/reports/pengelola_bulanan_202512.pdf','2025-12-25 13:00:46','2025-12-25 13:00:46','2025-12-25 13:00:46'),(4,2,'2025-W50','mingguan','/storage/reports/pengelola_mingguan_2025W50.pdf','2025-12-18 13:00:46','2025-12-25 13:00:46','2025-12-25 13:00:46');
/*!40000 ALTER TABLE `laporan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasi`
--

DROP TABLE IF EXISTS `notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifikasi` (
  `idnotif` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `iduser` bigint(20) unsigned NOT NULL,
  `judul` varchar(255) NOT NULL,
  `pesan` text NOT NULL,
  `tipe` enum('info','success','warning','error') DEFAULT 'info',
  `kategori` enum('semua','jadwal','bagi_hasil') DEFAULT 'semua',
  `status_baca` enum('belum_baca','sudah_baca') DEFAULT 'belum_baca',
  `waktu_kirim` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idnotif`),
  KEY `idx_iduser` (`iduser`),
  KEY `idx_status_baca` (`status_baca`),
  KEY `idx_kategori` (`kategori`),
  CONSTRAINT `notifikasi_ibfk_1` FOREIGN KEY (`iduser`) REFERENCES `users` (`iduser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2198 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi`
--

LOCK TABLES `notifikasi` WRITE;
/*!40000 ALTER TABLE `notifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengumuman`
--

DROP TABLE IF EXISTS `pengumuman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengumuman` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `isi` text NOT NULL,
  `id_admin` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pengumuman_id_admin_foreign` (`id_admin`),
  CONSTRAINT `pengumuman_id_admin_foreign` FOREIGN KEY (`id_admin`) REFERENCES `users` (`iduser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengumuman`
--

LOCK TABLES `pengumuman` WRITE;
/*!40000 ALTER TABLE `pengumuman` DISABLE KEYS */;
INSERT INTO `pengumuman` VALUES (1,'test',1,'2026-01-15 07:44:00','2026-01-15 07:44:00');
/*!40000 ALTER TABLE `pengumuman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peternak`
--

DROP TABLE IF EXISTS `peternak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `peternak` (
  `idpeternak` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `iduser` bigint(20) unsigned DEFAULT NULL,
  `nama_peternak` varchar(100) NOT NULL,
  `no_peternak` varchar(20) DEFAULT NULL,
  `kelompok` varchar(50) DEFAULT NULL,
  `jumlah_sapi` int(11) DEFAULT 0,
  `lokasi` varchar(255) DEFAULT NULL,
  `koperasi_id` varchar(50) DEFAULT NULL,
  `id_sub_penampung` bigint(20) unsigned DEFAULT NULL,
  `status_mitra` enum('peternak','sub_penampung','sub_penampung_tr','sub_penampung_p') DEFAULT 'peternak',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idpeternak`),
  UNIQUE KEY `iduser` (`iduser`),
  KEY `idx_iduser` (`iduser`),
  KEY `peternak_id_sub_penampung_foreign` (`id_sub_penampung`),
  CONSTRAINT `peternak_ibfk_1` FOREIGN KEY (`iduser`) REFERENCES `users` (`iduser`) ON DELETE CASCADE,
  CONSTRAINT `peternak_id_sub_penampung_foreign` FOREIGN KEY (`id_sub_penampung`) REFERENCES `peternak` (`idpeternak`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peternak`
--

LOCK TABLES `peternak` WRITE;
/*!40000 ALTER TABLE `peternak` DISABLE KEYS */;
/*!40000 ALTER TABLE `peternak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produksi_harian`
--

DROP TABLE IF EXISTS `produksi_harian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produksi_harian` (
  `idproduksi` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `idpeternak` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `waktu_setor` enum('pagi','sore') DEFAULT NULL,
  `jumlah_susu_liter` decimal(10,3) NOT NULL,
  `biaya_pakan` decimal(15,2) DEFAULT 0.00,
  `biaya_tenaga` decimal(15,2) DEFAULT 0.00,
  `biaya_operasional` decimal(15,2) DEFAULT 0.00,
  `total_biaya` decimal(15,2) GENERATED ALWAYS AS (`biaya_pakan` + `biaya_tenaga` + `biaya_operasional`) STORED,
  `foto_bukti` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idproduksi`),
  KEY `idx_idpeternak` (`idpeternak`),
  KEY `idx_tanggal` (`tanggal`),
  KEY `idx_peternak_tanggal` (`idpeternak`,`tanggal`),
  CONSTRAINT `produksi_harian_ibfk_1` FOREIGN KEY (`idpeternak`) REFERENCES `peternak` (`idpeternak`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2194 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produksi_harian`
--

LOCK TABLES `produksi_harian` WRITE;
/*!40000 ALTER TABLE `produksi_harian` DISABLE KEYS */;
/*!40000 ALTER TABLE `produksi_harian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(255) NOT NULL,
  `value` text DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `settings_key_unique` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,'feature_produksi','1','Fitur Input Produksi untuk Peternak',NULL,NULL),(2,'feature_distribusi','1','Fitur Input Distribusi untuk Peternak',NULL,NULL),(3,'feature_notifikasi','1','Fitur Notifikasi untuk Semua User',NULL,NULL);
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slip_pembayaran`
--

DROP TABLE IF EXISTS `slip_pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `slip_pembayaran` (
  `idslip` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `idpeternak` bigint(20) unsigned NOT NULL,
  `bulan` int(11) NOT NULL,
  `tahun` int(11) NOT NULL,
  `jumlah_susu` decimal(15,2) NOT NULL DEFAULT 0.00,
  `harga_satuan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_pembayaran` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_shr` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_hutang_bl_ll` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_pakan_a` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_pakan_b` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_vitamix` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_konsentrat` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_skim` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_ib_keswan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_susu_a` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_kas_bon` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_pakan_b_2` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_sp` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_karpet` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_vaksin` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_lain_lain` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_potongan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `sisa_pembayaran` decimal(15,2) NOT NULL DEFAULT 0.00,
  `signed_by` bigint(20) unsigned DEFAULT NULL,
  `signed_at` timestamp NULL DEFAULT NULL,
  `signature_token` varchar(255) DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'pending',
  `tanggal_bayar` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`idslip`),
  UNIQUE KEY `slip_pembayaran_signature_token_unique` (`signature_token`),
  KEY `slip_pembayaran_idpeternak_foreign` (`idpeternak`),
  KEY `slip_pembayaran_signed_by_foreign` (`signed_by`),
  CONSTRAINT `slip_pembayaran_idpeternak_foreign` FOREIGN KEY (`idpeternak`) REFERENCES `peternak` (`idpeternak`) ON DELETE CASCADE,
  CONSTRAINT `slip_pembayaran_signed_by_foreign` FOREIGN KEY (`signed_by`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slip_pembayaran`
--

LOCK TABLES `slip_pembayaran` WRITE;
/*!40000 ALTER TABLE `slip_pembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `slip_pembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_sessions_kpi`
--

DROP TABLE IF EXISTS `user_sessions_kpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions_kpi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `login_at` timestamp NULL DEFAULT NULL,
  `logout_at` timestamp NULL DEFAULT NULL,
  `duration_seconds` int(10) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `session_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_sessions_kpi_user_id_login_at_index` (`user_id`,`login_at`),
  CONSTRAINT `user_sessions_kpi_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`iduser`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_sessions_kpi`
--

LOCK TABLES `user_sessions_kpi` WRITE;
/*!40000 ALTER TABLE `user_sessions_kpi` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_sessions_kpi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `iduser` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `pin` char(6) DEFAULT NULL,
  `role` enum('admin','pengelola','peternak','tim_analytics') NOT NULL DEFAULT 'peternak',
  `nohp` varchar(20) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`iduser`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-25 11:29:08
